@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    
}
.container {
    max-width: 1280px;
    margin: auto;
}
/* nav section */

.nav-container{
    height: 80px;
   
    display: flex;
    align-items:center;
    max-width: 1400px;
    /* margin: 0 auto;    */
}
.nav-iteam-container{
    /* width: 40%; */
    display: flex;
    justify-content:end;
    margin-left: 200px;
    
}

.nav-iteam-container a{
    text-decoration: none;
    color: #3C354F;
    
    
}
.about{
    margin: 0;
    padding: 10px;
}
.developer{
    margin-right: 0;
    padding: 10px;
}
.follow{
    margin-right: 100px;
    background: rgba(11, 2, 35, 0.10);
    /* padding: 10px 80px 10px 10px; */
    padding: 10px;
    border-radius: 8px;
}
.logo-container{
    
    display: flex;
    width: 50%;
   

   
}
.logo-container img{
    
    width: 50px;
    object-fit: cover;
    padding: 50px 0 50px 100px ;
    margin-right: 10px;
    
}
.logo-container p{
    font-size: 20px;
    margin-top: 50px;

}
.font-decoration{
    color: #FF42A5;
    font-weight: 300px;
    
}
.first-logo{
    font-weight: 800;
    font-size: 40px;
}
.youtube-logo{
    padding-left: 20px;
    color: red;
}
.tiktok-logo{
    padding-left: 20px;
}
/* Nav design End Here */
/* Banner design start */
.banner-container{
   
    margin: 50px auto 0;
    max-width: 1400px;
    padding-left: 160px;
    display: flex;
}
.banner-text{
   
    width: 40%;
    padding-top: 70px;
    
}
.banner-color{
    color: #534C64;
}
.banner-img{
    
    width: 45%;
    height: 50%;
}
.click-icone{
    color: red;
    padding-right: 10px;

}
.download-icone{
    padding-right: 10px;
}
.peoples-icone{
    padding-right: 10px;
}
.primary-button{
    padding: 8px 20px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
}
.secondary-button{
    padding: 8px 20px;
    border-radius: 48px;
    background-color:#4EC5F7;;
    border: 0;
    color: #FFF;
}
.heading-one{
    color: #0B0223;

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin: 0%;

}
.heading-two{
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0%;
    
}

.banner-img img{
    width: 100%;
}
/* Complex Banner Section start */
.complex-banner-container{
   
    max-width: 1400px;
    display: flex;
}
.complex-banner-img{
    
    width: 50%;
    padding: 100px;

}
.complex-banner-img img{
    width: 100%;
    /* padding: 50px; */
}
.complex-banner-text{
    
    width: 50%;
    padding: 100px 170px 100px 0;
    text-align: right;
    

}
.primary-font{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0%;
    
}
.complex-text{
    margin-bottom: 20px;
}
.inverted-comma{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 45px;

}
/* main section */
.video{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px; 
  
}
/* card */

  
  .text-image-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  .text-title-img{
    font-weight:bold;
   font-size: 52px;
  
  }
  .text-title-color{
    color:#da00ee
  }
  
  .image {
    flex: 1; /* Takes the available space */
    padding: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
.position{
    position: relative;
    bottom:-660px;
    right: 50px;
    width: 180px;
    height: 160px;
   
}
 
.flex{
    display: flex;
   
}
.bg-car{
    background:rgb(252, 51, 201);
       height: 700px;
       margin-top: 60px;
       margin-bottom: 60px;

}

.car-image{
   width: 860px;
   height: 100%;
  
}
.text-title-header{
    text-align: center;
}
.title-s {
   font-weight:bold;
   font-size: 45px;
}
.text-size-f{
   font-weight: 400px;
   font-size: 45px;
   margin-bottom: 10px;
}
.style-car-div{
   align-items: right;
   width: 960px;
   height: 444px;
   color: rgb(255, 255, 255);
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 70px;
   margin-right: 70px;
}
.text-flex{
    display: flex;
    gap:100px;
}
.bt{
    font-size: 20px;
    color: #da00ee;
    width: 280px;
    height: 64px;
    background: #f8f8f8;
    border-radius: 30px;
    margin-top: 10px;
    position: absolute;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Two columns in the grid */
    grid-gap: 20px; /* Gap between the cards */
    padding: 20px;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  .im{
    width: 30px;
  }
/* Compound section start */
.game-img-icone{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
    

}
.compound-img-icone{
    display: flex;
    padding: 50px 250px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    align-items: center;


}
.compound-img-icone img{
    width: 30px;
    height: 30px;

}
/* middle Section Start */
.heading-title-new{
    text-align: center;
    border: 1px solid blue;
}
.paragraph-title{
    font-size: medium;
}
.four-img-section{
    display: flex;
    gap:18px;
    margin-top:50px;
}
.btn_overly {
    width: 100%;
    height: 81%;
     background: #141414e3;
display: flex;
    position: relative;
    bottom: 489px;
    border-radius: 23px;
    justify-content: center;
}
.play {
    width: 40px;
}
/* 
Start 
*/
.inner_play {
    display: flex;
    justify-content: space-between;
 
   
}
.img_area {
    width: 50%;
}
.img_area div img {
    display: inline-block;
}
.img_one {
    width: 634.833px;
}
.play_text {
    margin-top: 40px;
}
.img_two {
width: 318.5px;
height: 365.083px;
position: relative;
    left: -136px;
    bottom: 286px;
}
.title_text{
      margin-top: 40px;
    text-align: right;
    font-size: 48px;
font-style: normal;
font-weight: 700;
margin-bottom: 24px;
}
 .span {
    color:  #F948B2;
}
.text_ {
    color: #534C64;
text-align: right;
line-height: 30px;
width: 353px;
}
/* footer */
.footer{
    display: flex;
    text-align: center;
    height: 577px;
    gap: 200px;
background: #0c0246;
}
.foot-style{
   
   margin-left: 400px;
   margin-right: 100px;
}
.foter-logo{
font-weight: 700px;
font-size: 45px;
color: #F8F8F8;
text-align: center;
}
.footer-flex{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.game-type{
    display: flex;
    color: #f0f0f0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    
}


.play-g{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-right: 230px;
    margin-left: 200px;
    color: #FFFFFF;
}


/* 
Start  END
*/